@import '../../../styles/global.scss';

.services {
  .card {
    border: 2px solid $gold;

    svg {
      font-size: 30px;
      color: $white;

      @media (min-width: 992px) {
        font-size: 50px;
      }
    }
  }

  .wrap {
    display: table;
  }

  .title {
    display: table-cell;
    height: 120px;
    vertical-align: middle;
    width: 100%;
  }

  .subtitle {
    min-height: 200px;

    @media (min-width: 1200px) {
      min-height: 220px;
    }
  }
}