@import '../../../styles/global.scss';

.services {
  .card {
    border: 2px solid $gold;

    svg {
      font-size: 30px;
      color: $gold;

      @media (min-width: 992px) {
        font-size: 50px;
      }
    }
  }
}