// Colors
$black         : #000;
$light-black   : #333;
$blue          : #006eff;
$light-blue    : #0058cc;
$light-blue2   : #006eff;
$disabled-blue : #81b3f4;
$dark-blue     : #04233b;
$gray          : #666;
$gray-light    : #f4f4f4;
$gray-light2   : #e7e7e7;
$gray-light-3  : #f7f7f7;
$gray-light-4  : #d9d9d9;
$gray-light-5  : #717171;
$gray-light-6  : #e6e6e6;
$gray-light-7  : #e0e0e0;
$gray-light-8  : #c0c0c0;
$gray-dark     : #262626;
$gray-dark2    : #999;
$gray-dark3    : #737373;
$gray-dark4    : #4d4d4d;
$gray-dark-5   : #a1a1a1;
$gray-dark-6   : #4b4b4b;
$gray-dark-7   : #030303;
$gray-light    : #fafafa;
$gray-light2   : #e1e1e1;
$gray-light3   : #969692;
$charcoal      : #222;
$cardinal      : #8c1616;
$cardinal-light: #b81d1d;
$white         : #fff;
$yellow        : #fcd109;
$yellow2       : #f6b600;
$red           : #ff0000;
$red-light     : #f2dede;
$green         : #039009;
$light-green   : #59ac6c;
