@import '../../../styles/global.scss';

.home-page {
  svg {
    font-size: 14px;
  }

  .left-quote {
    margin-bottom: -15px;
    margin-right: 10px;
  }

  .right-quote {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  span {
    line-height: 2;
  }

  .college {
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
    }
  }

  .chairs {
    border-radius: 10px;
    border: 1px solid $gold;
  }
}
