@import '../../styles/global.scss';

.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: $black;
  font-style: italic;
  font-weight: bold;
  font-size: 23px;
}

.email {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.18);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}

form {
  padding-top: 40px;
}

.password {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.18);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px
}


.email:focus, .password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.login-btn {
  position: relative;
  border: none;
  background-color: $black;
  cursor: pointer;
  color: $white;
  outline: none;
  overflow: hidden;
  padding: 10px 20px ;
  text-align: center;
  margin-left: 28%;
}

.login-btn span {
  color: $white;
  font-size: 14px;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.login-btn:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0;
  height: 490%;
  width: 140%;
  background: $gold;
  transition: all .7s ease-in-out;
  transform: translateX(-120%) translateY(-16%) rotate(45deg);
}

.login-btn:hover:after {
  transform: translateX(-29%) translateY(-25%) rotate(45deg);
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}
