@import '../../../styles/global.scss';

.about-me {
  .profile {
    width: 100%;
    height: 100%;
    border: 1px solid black;

    @media (min-width: 1200px) {
      border-radius: 32px;
    }
  }

  em {
    height: 100%;
  }
}