@import '../../../styles/global.scss';

.price {
  .nav-link {
    font-family: $Lato-bold;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, .55);

    &:hover {
      color: $gold;
    }

    @media (min-width: 992px) {
      font-size: 18px;
      padding-top: 0;
      padding-bottom: 2px;
    }

    &.active {
      border-bottom: 2px solid $gold;
    }
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border: 1px solid $gold;

    hr {
      margin-bottom: 0;
    }
  }

  .card-title {
    padding: 27px 15px 0 15px;
  }

  .card-subtitle {
    background-color: $gold;
    color: white;
    margin-top: 0;
    padding-bottom: 20px;
  }
}