@import './_variables.scss';
@import './general';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #f7f7f7;
  font-family: "Lato", "Times New Roman", Times, serif;
  font-size: 14px;
  overflow-x: auto;
  min-width: 1280px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/* TABLE */
.table {
  margin-bottom: 0;
}

th {
  text-align: center;
  vertical-align: middle !important;
  line-height: 1.2!important;
  background-color: #fcf8e3 !important;
  font-size: 12px;
}

td {
  font-size: 12px;
  vertical-align: middle !important;
}

.table-fixed {
  table-layout: fixed;

  td, th {
    word-wrap: break-word;
  }
}

.text-vertical {
  transform: rotate(90deg);
}
/* END TABLE */

/* BUTTON */
.btn {
  font-size: 12px;
}
/* END BUTTON */


.view-scroll, .no-scroll-bar {
	overflow-y: auto;
}

.no-scroll-bar::-webkit-scrollbar {
	width: 0;
}

.view-scroll::-webkit-scrollbar {
	width: 8px;
}

.view-scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.view-scroll::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 4px;
	&:hover {
		background: #666;
	}
	&:active {
		background: #555;
	}
}

#back-top {
	display: inline-block;
	background-color: #3379b7;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 4px;
	position: absolute;
	bottom: 70px;
	right: 20px;
	transition: background-color .5s,
	opacity .2s, visibility .9s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  padding: 0;
  border: 0;

	.fa-chevron-up {
		font-size: 1.6em;
		line-height: 30px;
		color: #fff;
	}

	&:hover {
		background-color: #333;
	}

	&:active {
		background-color: #555;
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
}
