.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.4);
  height: 100vh;
  text-align: center;
  z-index: 9999;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.loading-body {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.spinner {
  display: flex;
  justify-content: center;
}

.text {
  margin-top: 7px;
  color: #3f6f80;
  font-size: 26px;
  font-weight: bold;
}
