@import '../../styles/global.scss';

#header {
  background-color: $white;
  border-bottom: 1px solid $grey-3;

  .navbar {
    padding: 0;
  }

  .logo {
    width: 100px;

    @media (min-width: 1200px) {
      min-width: 150px;
    }
  }

  .navbar-item {
    border-bottom: 1px solid $gold;

    @media (min-width: 992px) {
      border-bottom: 0;
      padding: 0 5px;
    }

    &:first-of-type {
      margin-top: 10px;

      @media (min-width: 992px) {
        margin-top: 0;
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .menu-toggle {
    padding: 4px 10px;
    border: 1px solid $black;

    &:focus {
      outline: 2px auto $gold;
      border: none;
    }
  }

  .title-wrap {
    display: inline-block;
    vertical-align: middle;
  }

  .navbar-toggler {
    border: 1px solid $gold;
    font-size: 20px;
    padding: 5px;

    &:focus {
      box-shadow: none !important;
    }
  }
}
